# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore PHPStorm configuration folder
.idea/

conf/
htd.loc/
logs/

composer.phar
cache/*
logs/*
vendor/*
